@model List<Stock>

<div class="form-group">
    <label for="stockSelect">Select Stock:</label>
    <select id="stockSelect" class="form-control">
        @foreach (var stock in Model)
        {
            <option value="@stock.Id">@stock.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label id="showPrice"></label>
</div>

@section Scripts{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/getStock.js" asp-append-version="true"></script>

    <script>
 
    </script>

}
