@model List<Stock>

<div class="form-group">
    <label for="stockSelect">Select Stock:</label>
    <select id="stockSelect" class="form-control">
        @foreach (var stock in Model)
        {
            <option value="@stock.Id">@stock.Name</option>
        }
    </select>
</div>

@section Scripts{
    <script src="~/js/getStock.js" asp-append-version="true"></script>
}